{% extends 'base.html' %}

{% block h1 %}
    <h1>Add Car</h1>
{% endblock h1%}

{% block content %}
    <form id="spec_form" action="/add/" method="POST">
            {% csrf_token %}
            <table>

            <tr>
                {% for field in form.visible_fields %}
                {{ field.errors }}
                {{ field.help_text }}

                <td>{{ field }}</td>

            </tr>
            {% endfor %}
            </table>
        <input type="submit" value="submit">
    </form>
{% endblock %}