{% extends 'base.html' %}

{% block h1 %}
    <h1>Add Car</h1>
{% endblock h1%}
    {% block content %}
    <div class="text-center col-sm-12">
    <form id="spec_form" action="/add/" method="POST">
        {% csrf_token %}
        {% for hidden in form.hidden_fields %}
        {{ hidden }}
        {% endfor %}
        {% for field in form.visible_fields %}
         <div class="fieldWrapper">
        {{ field.errors }}
        {{ field.label_tag }} {{ field }}
        </div>
    {% endfor %}

        <input class="btn btn-primary" type="submit" value="submit">
    </form>
    </div>
{% endblock %}